<%= render :partial => 'layouts/header' %>
<br/>
<div class="card w-50 form-center">
  <div class="card-body">
    <h5 class="card-title form-group">Edit Property</h5>
    <p class="card-text form-group">Update your property</p>
    <%= render :partial => 'form' %>
  </div>
</div>
