* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f4f4;
}
header {
  background-color: rgba(104, 78, 157, 1);
  color: #fff;
  height: auto;
  font-family: "Secular One", sans-serif;
}
header .container {
  padding: 0;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}
header nav li {
  padding: 15px;
}
header nav a:hover {
  color: aliceblue;
  text-decoration: none;
}
header nav a {
  color: #fff;
}
header nav .logo {
  font-size: 35px;
  font-weight: bold;
}
.grid-home {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  margin: 20px 0 0 0;
  padding: 10px;
}
.card-home {
  grid-row: auto;
  grid-column: auto;
  width: auto;
  min-height: 300px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  // box-shadow: -4px 3px 11px -1px rgba(156,156,156,1);
}
.card-image {
  width: 100%;
  height: auto;
}
.card-price, .card-description{
  text-align: left;
  font-weight: bold;
  margin: 10px;
}
a.card-description {
  margin: 0;
}
div.container.grid-home {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
}
.logo {
  width: 200px;
  padding: 20px 0;
}
.theme-1 {
  background-color: rgba(104, 78, 157, 1);
  color: white;
  font-weight: bold;
}
.theme-1 a {
  color: white;
}
