
//--- Photo gallery grid and layout ---//

.container-property-images {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 5px;
}
.image-main {
  grid-row: 1 / 3;
  grid-column: 1;
  width: 560px;
}
.image-1 {
  grid-row: 1;
  grid-column: 2;
  width: 275px;
}
.image-2 {
  grid-row: 1;
  grid-column: 3;
  width: 275px;
}
.image-3 {
  grid-row: 2;
  grid-column: 2;
  width: 275px;
}
.image-4 {
  grid-row: 2;
  grid-column: 3;
  width: 275px;
}

//-----------------------------------//

.property-info-bar {


  height: auto;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.property-info-bar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.property-info-bar li {
  padding: 15px;
}
