<header>
  <div class="container">
    <nav class="theme-1">
      <%= image_tag 'logo.svg',  :class => "logo btn" %>
          <ul>
            <li><a><%= link_to "Search Homes", properties_path, class:"btn" %></a></li>
            <li><a class="btn"href="#">Experiences</a></li>
            <li><a class="btn"href="#">Become a host</a></li>
            <li><a><%= link_to "Log in", login_path, class:"btn btn-success"%></a></li>
            <li><a><%= link_to "Sign up", new_user_path, class:"btn btn-primary"%></a></li>
          </ul>
        </nav>
      </div>
    </header>
